@page {
    size: A4;
    margin: 0;
}

body {
    /* margin-top: 7rem; */
    padding: 6.2rem 0 0 4rem;
    font-family: DejaVu Sans, sans-serif;
    background-image: url("image/bgpo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    padding: 40px;
}
